main {
    background-color: brown;
}


.movieDetail {
    background-color: rgb(0, 0, 0);
    border: dotted yellow 10px;
    
}

.movieDetail p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
   
}



